<html>
	<head>
		<title>EVENT</title>
		<script src="/static/js/index.js"></script>
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body>
		<%-include("partials/header")%>
		<div class="container mx-auto">
			<h1 class="font-bold text-3xl"><%=event.name%></h1>
			<div class="text-lg">
				<span data-controller="format-date" data-format-date-epoch="<%=event.date%>" data-target="format-date.date"><%=new Date(event.date)%></span>
			</div>

			<div class="mt-2">
				 
				<span class="p-1 bg-green-500 mr-2">
					<%=event.going.length%> Attending
				</span>
				<span class="p-1 bg-gray-300">
					<%=event.invited.length%> Invited
				</span>

			</div>
			<%if(!event.is_private){%>
			<div class="mt-2">
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%=event.name%>" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<%}%>
			<div class="mt-2">

				Created by: <%=event.creator.name%>
			</div>
			<div>
				<%=event.is_private ? "Private": "Public"%> event
			</div>
			<hr/>
			<div class="mt-2">
				<%=event.description%>
			</div>
		</div>
	</body>
</html>
