<html>
	<head>
		<title>Hello</title>
		<script src="/static/js/index.js"></script>
		<link rel="stylesheet" href="/static/css/main.css"/>
	</head>
	<body>
		<%-include("partials/header")%>
		<div class="container mx-auto">
			<div class="flex items-center justify-center">
				<div class="p-4 border-2 border-gray-300">
					<div style="height:300px">
						<img src="/static/img/banner.jpg" class="w-full object-contain h-full"/>
					</div>
					<p class="pt-4 text-xl">
					Occasions - <%= date.format(new Date(), "PP") %>
					</p>
				</div>
			</div>
			<div>
				<ul class="list-disc">
					<%events.forEach((event)=>{%>
						<li>
							<div>
							<a href="/events/<%=event.slug%>" class="underline text-md"><%=event.name%></a>
							</div>
							<%=date.format(date.addDays(new Date(), 2), "PP")%>
						</li>
					<%})%>
				</ul>
			</div>
		</div>
	</body>
</html>
