<html lang="en">
  <head>
    <title>
      <%=locals.title ? `${title} | `: ""%>Juniper City
    </title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="/static/js/index.js"></script>
  </head>
  <body>
    <%-include("partials/header")%>
    <main class="content <%=_className("md", locals.content)%>"><%-locals.__body? include(__body): content%></main>
    <%-include("partials/footer")%> <%-include("partials/tracking")%>
  </body>
</html>
