<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      <%=locals.title ? `${title} | `: ""%>Juniper City
    </title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="/static/js/index.js"></script>
  </head>
  <body>
    <%-include("partials/header")%>
    <main class="content <%=_className('md', locals.__content)%> p-4 sm:p-0">
      <%-locals.__body? include(__body): __content%>
    </main>
    <%-include("partials/footer")%>
    <!-- prettier-ignore -->
    <%-include("partials/tracking")%>
  </body>
</html>
